body {
	height: 100vh;
	background: linear-gradient(to right, #92fe9d, #00c9ff);
	font-family: 'Josefin Sans', sans-serif;
}

.particles-js-canvas-el {
	position: fixed;
	display: block;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.main {
	margin: 0 auto;
	max-width: 450px;
	z-index: 200;
}

.container {
	margin: 5%;
	padding: 20px 0;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 0 rgba(61, 61, 61, 0.479);
}

.container h1 {
	letter-spacing: 2px;
	font-weight: 400;
	text-align: center;
}

.container > h1:nth-child(1) {
	font-size: 54px;
	font-weight: 700;
}

.addTask__form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 7px 10px;
	background: linear-gradient(to right, #50cceb, #6dedd8);
	margin-bottom: 40px;
}

.form-div {
	width: 100%;
	display: flex;
	align-items: center;
}

.date {
	align-self: flex-start;
}

.datepicker-here {
	align-self: flex-start;
	width: 150px;
	padding: 5px;
	border: none;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
}

.inputText {
	width: 70%;
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px;
	height: 30px;
	font-size: 18px;
}
.val::placeholder {
	padding-left: 7px;
	font-size: 18px;
	color: rgba(219, 16, 16, 0.753);
}
.date::placeholder {
	padding-left: 7px;
	font-size: 12px;
	color: rgba(219, 16, 16, 0.753);
}
.ok {
	width: 50px;
	height: 40px;
	box-sizing: border-box;
	font-size: 18px;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
	background-color: white;
	margin-right: 15px;
}
.ok > .fa-check {
	z-index: 9999;
	color: #3eeba3;
	padding-left: 25px;
}
.ok > .fa-times {
	z-index: 9999;
	color: rgba(219, 16, 16, 0.753);
	padding-left: 10px;
	padding-right: 25px;
}

.inputText:focus {
	outline: none;
}

.btn {
	width: 50px;
	height: 50px;
	border-radius: 40px;
	color: #fff;
	font-size: 26px;
	outline: none;
	background-color: #2e2e2e;
	border: none;
	transition: color 0.2s, transform 0.3s, background-color 0.3s;
	backface-visibility: hidden;
}

.btn:hover {
	transform: rotate(180deg);
	cursor: pointer;
}

.btn:active {
	color: #3eeba3;
	background-color: #000;
}

.list,
.completed {
	list-style: none;
	padding: 0;
	max-height: 300px;
	overflow-x: auto;
}

.list li,
.completed li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
	margin: 10px 0;
	background-color: rgba(226, 226, 226, 0.336);
	box-shadow: 1px 1px 3px rgba(61, 61, 61, 0.315);
	font-size: 16px;
}

.list__text {
	width: 75%;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-size: 18px;
}

.list__text p:nth-child(2) {
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	width: 180px;
	color: #535353;
	border-bottom: 1px solid #00c8ff69;
}

.list__icons {
	display: flex;
	margin: 10px;
	font-size: 20px;
}

.fas {
	padding: 5px 0;
}

.list__icons--edit {
	padding-right: 10px;
	border-right: 1px solid rgba(192, 192, 192, 0.527);
	transition: all 0.2s;
	cursor: pointer;
}

.list__icons--edit:hover {
	color: rgb(211, 208, 28);
}

.list__icons--remove {
	padding: 0 10px;
	border-right: 1px solid rgba(192, 192, 192, 0.527);
	transition: all 0.2s;
	cursor: pointer;
}

.list__icons--remove:hover {
	color: rgba(219, 16, 16, 0.753);
}

.list__icons--done {
	margin-left: 10px;
	transition: all 0.2s;
	cursor: pointer;
}

.list__icons--done:hover {
	color: #3eeba3;
}

ul > p {
	text-align: center;
	font-weight: 300;
	color: rgb(145, 145, 145);
}

.completed {
	margin-top: 40px;
	border-top: 1px solid rgb(218, 218, 218);
}

.completed h1 {
	margin: 40px 0;
}

.datepicker--day-name {
	color: #4eb5e6;
}

/* add calsses in JS */
.completedItem {
	background-color: #3eeba39f !important;
}

.disabled {
	margin-left: 10px;
	cursor: not-allowed;
	color: rgb(158, 158, 158);
}
.show {
	animation: show-up 0.4s ease;
}
@keyframes show-up {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.added {
	animation: slide-up 0.4s ease;
}

.remove {
	animation: slide-left 0.7s ease;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(-65px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-left {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-420px);
	}
}
